.shopping-cart {
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn i {
  color: red;

}
.delete-btn i:hover
{
	color:rgba(0,0,0,.5);
}
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('https://designmodo.com/demo/shopping-cart/twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
.image {
  margin-right: 50px;
}
 
Let’s add some basic style to  product name and description.
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description {
      min-width:120px;
      margin-right: 60px;
  }

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.quantity {
 
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button[class*=btn]:hover
{
	background: rgba(0,0,0,.5);
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.proceed-to-checkout
{
	padding-top: 12px;
	padding-bottom: 30px;
	color:white;

}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
.goto-order-step ul li
{

  float:left;
  padding: 10px 4px;
  color:white;  
  list-style: none;
  font-size: 20px;

}
.goto-order-step ul li:nth-child(1)
{
	color: rgba(0,0,0,.5);
}

.goto-order-step ul li a
{
	color:white;
	font-size: 20px;
}
.goto-order-step ul li a:hover
{
	color: rgba(0,0,0,.5);
	text-decoration: none;
}
.goto-order-step ul li:after
{
	content:">";
	margin-left: 5px;
	font-size: 20px;
}
.Queries
{
	border-bottom: 1px solid rgba(0,0,0,.3);
	margin-bottom: 60px;
	border-right: 1px solid rgba(0,0,0,.3);
}
.Queries p
{
	text-align: center;
	color: white;
}
.Queries p:nth-child(1)
{
	font-size:50px;
}