

ul { list-style-type: none; }

a {
  color: black;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/


h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

h1 a {
  color: #c12c42;
  font-size: 16px;
}

.accordion {
  width: 100%;
  max-width: 360px;
  min-width: 250px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eeeeee;

}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 10px;
}


.accordion li.open .link 
{ 
  color: #b63b4d;

 }
 .accordion li img
 {
  height: 20px;width:20px;float: left;margin-top: 15px;margin-left: 10px;
 }

.accordion li.open i 
{
 color: #b63b4d;
  }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}


/*media Query*/

@media (min-width: 1200px) {



 


}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {



}

/* Tablet :768px. */

@media only screen and (min-width: 800px) and (max-width: 991px) {

     .category-division
  {
    background-color: red;position: absolute;z-index: 3;
  }
  .accordion{
      position: absolute;left:-15px;top: -30px;z-index: 5;
  }

}


/* Large Mobile :480px. */

@media only screen and (min-width: 767px) and (max-width: 799px) {

   .category-division
  {
    background-color: red;
    position: absolute;
    z-index: 3;
  }
  .accordion{
      position: absolute;left:-15px;top: -30px;z-index: 5;
}

/* Medium Mobile :480px. */

@media only screen and (min-width: 576px) and (max-width: 766px) {
  .category-division
  {
    background-color: red;position: absolute;z-index: 3;
  }
  .accordion{
      position: absolute;left:-15px;top: -30px;z-index: 5;
  }
 
}

/* Small Mobile :320px. */

@media only screen and (min-width: 479px) and (max-width: 576px){
  .category-division
  {
    background-color: red;position: absolute;z-index: 3;
  }
  .accordion{
      position: absolute;left:-15px;top: -30px;z-index: 5;
  }
     
}

@media only screen and (max-width: 478px)
{
  .category-division
  {
    background-color: red;position: absolute;z-index: 3;
  }
  .accordion{
      position: absolute;left:-15px;top: -30px;z-index: 5;
  }

}