label
{
  font-weight: 600;
  color: black;
}
button[type="submit"]
{
  background-color: yellow;
  border-radius: 50px;
  border: none;
  width: 150px;
  color: black;
  font-weight: 600;
}

.banner {
  
  height: 300px;
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
#caption ul
{
	margin-left: 20px;
}

#caption ul li
{
	float: left;
	padding: 0px 15px;
	list-style: none;
	border-right: 1px solid white;

}

#caption ul li a
{
	color: white;
	transition: all .3s linear;
}
#caption ul li a:hover
{
	color:rgba(0,0,0,.3);
	text-decoration: none;
}
.contact_form 
{
  padding: 100px 0px 50px 0px;
}

 .contact_form  h3
{
  color: black;
}
.contact_form  p
{
	color: #878787;
}
.contact_form label span
{
	margin-left: 5px;
	color: red;
}