
.cont1 .r1 .c1 .d1{
margin-top:100px;
height: 180px;
width: 180px;
margin-left: 40px;
}
.cont1 .r1 .c1 .d1 .b1{
font-size: 35px; 

}

.cont1 .r1 .c1 .d1 .p1{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.cont1 .r1 .c1 .d1 .b1 .p1 button .btn{
  color: red;
}
.cont1 .r1 .c1 .d1 font{
  font-size: 45px;
  color: black;
}

.cards { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.cards .card__item .card__header {
 margin-top: 30px;
 margin-bottom: 7px;

background: rgb(238,238,238); 
background: -moz-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 99%); 
background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 99%); 
background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); 
border: none;

}

.cards .card__content {
  padding-left: 3px;
}

.cards .card__content h5 {
   color:black;
}
.cards .card__content .card__header{


  }



.cards .card__item .card__header #new
      {
          position: absolute;
       
          background-color: blue;
            left:-1;
          top: 40px;
          text-align: center;  
          z-index: 2; 
          color: white;
    width: 50px;
            border-radius: 5px;
          font-size: 14px;
           text-transform: capitalize;
            right:40px;
      }
      .cards .card__item .card__header #perc
      {
          position: absolute;
           width: 50px;

            background-color: darkred;
            top:70px;
          text-align: center;  
          z-index: 2; 
          color: white;
       
            border-radius: 5px;
          font-size: 14px;
          right: 40px;
      }


